.d-z{
    border: 1px dashed #301C99;
    border-radius: 8px;
    min-height: 200px;
    max-height: 400px;
    width: 100%;
    cursor: pointer;
}

.d-z .dz-message {
    text-align: center;
    margin: 5em 0;
}

.custom-thumbnail {
    height: 120px!important;
}

.photo-container--event {
    position: relative;
}

.photo-delete--event {
    position: absolute;
    left: 85%;
    top: -0.5px;
    font-size: 1.3em;
    cursor: pointer;
}

.datepicker {
    display: block!important;
}

.custom-brand-logo {
    left: 17.22%;
    right: 76.88%;
    top: 8px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
}

.custom-brand-logo-login {
    left: 3.33%;
    right: 90.76%;
    top: 3.56%;
    bottom: 92%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
}

.custom-font {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.custom-title {
    width: 150px;
    height: 64px;
    left: calc(50% - 150px/2 - 118px);
    top: 160px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
}

.custom-link-reg, .link-login-fotty-forgot {
    color: #301C99
}

.custom-input-form {
    height: 56px;
    left: 0px;
    right: 0px;
    top: 10px;

    /* White */
    background: #FFFFFF;
    /* 8e */
    border: 1px solid #8E8E8E;
    box-sizing: border-box;
    border-radius: 8px;
}

.btn-color-fotty {
    background: #301C99;
}

.btn-radius-fotty {
    border-radius: 8px;
    height: 56px;
}

.btn-radius-fotty-a {
    border-radius: 8px;
    height: 56px;
    padding-top: 0.9em;
}



