<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>404 - fotty</title>
    <!-- Css Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style type="text/css">
        body {
            background: #F5F5F5;
        }
    </style>
</head>

<body>
    <div class="middle-box text-center animated fadeInDown py-5">
        <h1>404</h1>
        <h3 class="font-bold">Page Not Found</h3>
        <div class="error-desc"> Sorry, but the page you are looking for has note been found.
            Try checking the URL for error, then hit the refresh button on your browser or try found something else in
            our app.
        </div>
        <div class="py-5">
            <a href='/'>На главную</a>
        </div>

    </div>
    </div>
</body>

</html>
