{% extends 'base.html' %}

{% block navbar %}{% endblock %}

{% block content %}

{% for file in event.files %}
<!-- <img class="grid-item persent-size" src=" {{ url_for('static', filename='files/' + file.file_data.filename) }}"> -->
{% endfor %}

<div class="py-3 container-fluid gallery bg-faded">
    <div class="album-header" style="background-image: url('{{ event.background }}')">
        <p class="text-center album-header-text">{{ event.title }}</p>
    </div>
    <hr>

    <div class="grid">
        {% for file in event.files %}
        <a data-fancybox="gallery" href="{{ url_for('static', filename='files/' + file.file_data.filename) }}"
            class="grid__item grid__sizer">
            <div class="item__overlay"></div>
            <img src="{{ url_for('static', filename='files/' + file.file_data.filename) }}"
                alt="Credits to Unsplash.com" />
        </a>
        {% else %}
        <p class="text-center">Нет еще фото</p>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block custom_scripts %}

<script>
    $(function () {
        $('.grid').masonry({
            columnWidth: '.grid__sizer',
            itemSelector: '.grid__item',
            percentPosition: true,
            gutter: 10,
        });

        Fingerprint2.get(function (components) {
            const userId = Fingerprint2.x64hash128(components.map(function (pair) {
                return pair.value
            }).join(), 31);

            if (userId) {
                $.ajax({
                    url: '/album/ajax/client',
                    type: "POST",
                    data: { 'fingerprint': userId },
                    success: (response, textStatus, jqXHR) => {
                        if (jqXHR.status === 200) {
                            if (response.status === 1) {
                                console.info(response)
                            }
                        }
                    }
                });
            }

        });

    });

</script>

{% endblock %}
