<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>{{ title }}</title>
    <!-- Css Files -->
    <link href="{{ url_for('static', filename='css/root.css') }}" rel="stylesheet">
    <style type="text/css">
        body {
            background: #F5F5F5;
        }
    </style>
</head>
<body>

    {% for message in get_flashed_messages() %}
    <div class="foxlabel-alert alert1 text-center" style="margin-top: 15px">
        <a href="#" class="closed">×</a>
        {{ message | safe }}
    </div>
    {% endfor %}

    {% block content %} {% endblock %}
</body>
</html>
