{% extends 'base.html' %}

{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col-9">
            <h3>{{ title }}</h3>
        </div>

        <div class="col-3">
            <a href="{{ url_for('event.create') }}" class="btn btn-primary btn-color-fotty btn-radius-fotty-a"
                role="button">Cоздать событие <i class="icon-file-add float-right"></i></a>
        </div>
    </div>
    <hr>

    <div class="row">

    </div>

    <div class="row py-3">

        <div class="col">
            {% if events.items %}
            <div class="table-responsive">
                <table class="table table-hover table-bordered" cellspacing="0" width="100%">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center align-middle">#</th>
                            <th class="text-center align-middle">Название</th>
                            <th class="text-center align-middle">Дата события</th>
                            <th class="text-center align-middle">Место события</th>
                            <th class="text-center align-middle">Статус</th>
                            <th class="text-center align-middle">Кол-во фото</th>
                            <th class="text-center align-middle">Кол-во просмотров</th>
                            <th class="text-center align-middle">Дата создания</th>
                            <th class="text-center align-middle">Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events.items %}
                        <tr>
                            <td class="text-center align-middle">{{ event.id }}</td>
                            <td class="text-center align-middle">{{ event.title }}</td>
                            <td class="text-center align-middle">{{ event.date_at.strftime('%d.%m.%Y') }}</td>
                            <td class="text-center align-middle">{{ event.place }}</td>
                            <td class="text-center align-middle">{% if event.status == 1 %} активна {% else %} завершена {% endif %}</td>
                            <td class="text-center align-middle">{{ event.files|length }}</td>
                            <td class="text-center align-middle">{% if event.cnt_views %} {{ event.cnt_views }}  {% else %} 0 {% endif %}</td>
                            <td class="text-center align-middle">{{ event.created_at.strftime('%d.%m.%Y') }}</td>
                            <td class="text-center align-middle">
                                <a href="{{ url_for('event.edit', id=event.id) }}"><i style="font-size: 1.3em"
                                        class="fas fa-edit"></i></a>
                                &nbsp;
                                <a href="{{ url_for('event.delete', id=event.id) }}"><i style="font-size: 1.3em"
                                        class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>

                <nav class="py-3">
                    <ul class="pagination justify-content-center">
                        {% if events.has_prev %}
                        <li class="page-item"><a class="page-link"
                                href="{{ url_for('event.index', page=events.page-1) }}">Назад</a></li>
                        {% endif %}

                        {% for page in events.iter_pages() %}
                        <li class="page-item {% if page == events.page %} disabled {% endif %}"><a class="page-link"
                                href="{{ url_for('event.index', page=page) }}">{{ page }}</a></li>
                        {% endfor %}

                        {% if events.has_next %}
                        <li class="page-item"><a class="page-link"
                                href="{{ url_for('event.index', page=events.page+1) }}">Вперед</a></li>
                        {% endif %}
                    </ul>
                </nav>

                {#
                {% for page in data['pagination'].iter_pages() %}
                    <div data-page="{{ page }}" class="pagination--item js-pagination--item {% if page == data['pagination'].page %} pagination--item-current {% endif %}">{% if page %} {{ page }} {% else %} ... {% endif %}</div>
                {% endfor %}
                {% if data['pagination'].has_next %}
                    <div data-page="{{ data['pagination'].page + 1 }}" class="pagination--item js-pagination--item pagination--item-next"></div>
                {% endif %}
                #}

            </div>
            {% else %}
            <p class="text-center">Нет данных!!!</p>
            {% endif %}

        </div>

    </div>
</div>

{% endblock %}
