{% extends 'base.html' %}

{% block content %}
<div class="container py-3">

    <h3>{{ title }}</h3>
    <hr>

    <div class="row py-4">
        <div class="col-8">
            <form class="row" action="{{ url_for('events.create') }}" method="post">

                <div class="col-12 form-group">
                    <label>Название:</label>
                    <input required type="text" name="title" class="form-control custom-input-form" value=""
                        placeholder="Название">
                </div>

                <div class="col-12 form-group">
                    <label>Дата мероприятия:</label>
                    <input required type="text" id="date_at" name="date_at" class="form-control custom-input-form"
                        value="" placeholder="Дата события">
                </div>

                <div class="col-12 form-group">
                    <label>Место проведения:</label>
                    <input required type="text" name="place" class="form-control custom-input-form" value=""
                        placeholder="Место проведения">
                </div>

                <div class="col-12">
                    <button type="submit"
                        class="btn btn-primary btn-color-fotty btn-radius-fotty col-6">Сохранить</button>
                    <a href="{{ url_for('events.index') }}" class="btn btn-secondary btn-radius-fotty-a col-2">Назад</a>
                </div>

            </form>
        </div>

    </div>

</div>
{% endblock %}

{% block custom_scripts %}

<script>
    $(function () {
        $( "#date_at" ).datepicker({
            dateFormat: 'dd.mm.yy',
            'language': 'ru'
        });
    });
</script>

{% endblock %}
