{% extends 'base.html' %}

{% block content %}
<!-- Content
    ============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="row clearfix">

                <div class="col-md-9">

                    <div class="table-responsive">
                        <table id="events" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Название</th>
                                    <th>Дата события</th>
                                    <th>Место события</th>
                                    <th>Статус</th>
                                    <th>Дата создания</th>
                                    <th>Действие</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in events %}

                                <tr>
                                    <td>{{ event.id }}</td>
                                    <td>{{ event.title }}</td>
                                    <td>{{ event.date_at.strftime('%d.%m.%Y') }}</td>
                                    <td>{{ event.place }}</td>
                                    <td>{{ event.status }}</td>
                                    <td>{{ event.created_at.strftime('%d.%m.%Y') }}</td>
                                    <td class="text-center">
                                        <a href="{{ url_for('events.edit', id=event.id) }}"><i style="font-size: 35px" class="icon-edit-sign"></i></a>
                                        &nbsp;
                                        <a href="{{ url_for('events.delete', id=event.id) }}"><i style="font-size: 35px;" class="icon-remove-sign"></i></a>
                                    </td>
                                </tr>

                                {% else %}

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="w-100 line d-block d-md-none"></div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">Под. меню</div>
                        <div class="list-group list-group-flush">
                            <a href="{{ url_for('events.create') }}"
                                class="list-group-item list-group-item-action clearfix">Cоздать событие <i
                                    class="icon-file-add float-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section><!-- #content end -->

{% endblock %}

{% block custom_scripts %}
<!-- Bootstrap Data Table Plugin -->
<script src="{{ url_for('static', filename='js/components/bs-datatable.js') }}"></script>

<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $('#events').dataTable();
        });
    });
</script>
{% endblock %}
