{% extends 'base.html' %}

{% block content %}
<div class="container py-3">

    <h3>{{ title }}</h3>
    <hr>

    <div class="row py-5">
        <div class="col-8">

            <div class="d-z">
                <div class="dz-default dz-message">
                    <span>Загрузить фотографии</span>
                </div>
            </div>

            <div hidden id="event_id" data-id="{{ event.id }}"></div>

            <form class="row py-4" action="{{ url_for('events.edit', id=event.id) }}" method="post">

                <div class="col-12 form-group">
                    <label>Название:</label>
                    <input required type="text" name="title" class="form-control custom-input-form"
                        value="{{ event.title }}" placeholder="Название">
                </div>

                <div class="col-12 form-group">
                    <label>Дата мероприятия:</label>
                    <input required type="date" id="date_at" name="date_at" class="form-control custom-input-form"
                        value="{{ event.date_at.strftime('%d.%m.%Y') }}" placeholder="Дата события">
                </div>

                <div class="col-12 form-group">
                    <label>Место проведения:</label>
                    <input required type="text" name="place" class="form-control custom-input-form"
                        value="{{ event.place }}" placeholder="Место проведения">
                </div>

                <div class="col-12">
                    <button type="submit"
                        class="btn btn-primary btn-color-fotty btn-radius-fotty col-6">Сохранить</button>
                    <a href="{{ url_for('events.index') }}" class="btn btn-secondary btn-radius-fotty-a col-2">Назад</a>
                </div>

            </form>
        </div>
        <div class="col-4">
            <div class="pictures-preview-wrap">
                {% for photo in event.photos %}
                    <img height=100 data-id="{{ photo.file_data.id }}" src="{{ url_for('static', filename='files/' + photo.file_data.filename) }}" alt="{{ photo.file_data.filename}}">
                {% endfor %}
            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block custom_scripts %}

<script>

    $(document).ready(function () {

        $('.d-z').dropzone({
            url: '/files/upload',
            maxFilesize: 20,
            acceptedFiles: "image/jpeg,image/png,image/jpg",
            parallelUploads: 2,
            dictDefaultMessage: '',
            init: function () {
                this.on("success", function (file, inputData) {
                    const data_ = inputData.data;

                    if (data_) {
                        const $_tplPreview = $(`<img data-id='${data_.id}' height=100 src='${data_.url}' alt='${data_.filename}'>`)
                        const eventId = +$('#event_id').data('id');

                        if (eventId && data_.id) {
                            $.ajax({
                                url: '/events/ajax/bind/eventfile',
                                type: "POST",
                                data: { event_id: eventId, file_id: data_.id },
                                success: (response, textStatus, jqXHR) => {
                                    if (jqXHR.status === 200) {
                                        if (response.status === 1) {
                                            $('.pictures-preview-wrap').append($_tplPreview);
                                        } else {
                                            alert('Произошла ошибка... Пожалуйста, попробуйте позже!!!')
                                        }
                                    } else {
                                        alert('Произошла ошибка... Пожалуйста, попробуйте позже!!!')
                                    }
                                }
                            });
                        } else {
                            alert('Произошла ошибка... Пожалуйста, попробуйте позже!!!')
                        }
                    }

                // todo проверить, добавить превью и отправить ajax для связи картинки и сущности
                });
                this.on("queuecomplete", function (file) {
                    this.removeAllFiles();
                });
            }
        });

        new Datepicker('#date_at', {
            weekStart: 1,
            openOn: 'today',
        });
    })
</script>

{% endblock %}
