{% extends 'base.html' %}

{% block content %}
<div class="container py-3">

    <div class="row">
        <div class="col-8">
            <h3>{{ title }}</h3>
        </div>
        {% if not event.token %}
        <button id="generate-link--event" type="button" class="btn btn-primary btn-color-fotty col-3">Сгенерировать
            ссылку</button>
        {% endif %}
    </div>
    <hr>

    <div class="row py-5">
        <div class="col">

            <div hidden id="event_id" data-id="{{ event.id }}"></div>

            <div class="d-z">
                <div class="dz-default dz-message">
                    <span>Загрузить фотографии</span>
                </div>
            </div>

            <div id="sortable" class="pictures-preview-wrap py-3">
                {% for file in event.files %}
                <div class="d-inline-flex p-2 photo-container--event ">
                    <img class="img-thumbnail custom-thumbnail"
                        src="{{ url_for('static', filename='files/' + file.file_data.filename) }}"
                        alt="{{ file.file_data.filename}}">
                    <i data-id="{{ file.file_data.id }}"
                        class="fas fa-trash-alt photo-delete--event js-delete-photo--event"></i>
                </div>
                {% endfor %}
            </div>

            {% if event.token %}
            <div class="d-flex flex-row bd-highlight mb-3 py-3 justify-content">
                <div class="p-2 bd-highlight align-self-center">
                    <label>Ссылка на альбом:</label>
                </div>
                <div class="p-2 flex-grow-1 bd-highlight">
                    <input id="copy-link-album-event" class="form-control custom-input-form"
                        value="{{ url_for('album.index', token=event.token, _external=True) }}">
                </div>
                <div class="p-2 bd-highlight">
                    <i data-clipboard-target="#copy-link-album-event"
                        class="fotty-copy-link col-2 far fa-copy js-copy-link-event--album"></i>
                </div>
            </div>
            {% endif %}

            <form class="row py-4" action="{{ url_for('events.edit', id=event.id) }}" method="post">

                <div class="col-12 form-group">
                    <label>Название:</label>
                    <input required type="text" name="title" class="form-control custom-input-form"
                        value="{{ event.title }}" placeholder="Название">
                </div>

                <div class="col-12 form-group">
                    <label>Дата мероприятия:</label>
                    <input required type="text" id="date_at" name="date_at" class="form-control custom-input-form"
                        value="{{ event.date_at.strftime('%d.%m.%Y') }}" placeholder="Дата события">
                </div>

                <div class="col-12 form-group">
                    <label>Место проведения:</label>
                    <input required type="text" name="place" class="form-control custom-input-form"
                        value="{{ event.place }}" placeholder="Место проведения">
                </div>

                <div class="col-12">
                    <button type="submit"
                        class="btn btn-primary btn-color-fotty btn-radius-fotty col-6">Сохранить</button>
                    <a href="{{ url_for('events.index') }}" class="btn btn-secondary btn-radius-fotty-a col-2">Назад</a>
                </div>

            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block custom_scripts %}

<script>

    $(function () {

        $("#sortable").sortable({
            stop: function () {
                const eventId = +$('#event_id').data('id');

                let = sort = [];
                $('.photo-container--event').each(function () {
                    const _this = this;
                    sort.push(+$(_this).find('.js-delete-photo--event').data('id'));
                });

                if (eventId && sort.length > 0) {
                    $.ajax({
                        url: '/events/ajax/fix/sorting',
                        type: "POST",
                        data: { event_id: eventId, sort: sort },
                        success: (response, textStatus, jqXHR) => {
                            if (jqXHR.status === 200) {
                                if (response.status === 1) {
                                    console.info('OK')
                                }
                            }
                        }
                    });
                }
            }
        });
        $("#sortable").disableSelection();

        $('.d-z').dropzone({
            url: '/files/upload',
            maxFilesize: 20,
            acceptedFiles: "image/jpeg,image/png,image/jpg",
            parallelUploads: 2,
            dictDefaultMessage: '',
            init: function () {
                this.on("success", function (file, inputData) {
                    const data_ = inputData.data;

                    if (data_) {
                        const $_tplPreview = $(`<div class="d-inline-flex p-2 photo-container--event ">
                    <img class="img-thumbnail custom-thumbnail"
                        src="${ data_.url}"
                        alt="${ data_.filename}">
                        <i data-id="${ data_.id}" class="fas fa-trash-alt photo-delete--event js-delete-photo--event"></i>
                </div>`)
                        const eventId = +$('#event_id').data('id');

                        if (eventId && data_.id) {
                            $.ajax({
                                url: '/events/ajax/bind/eventfile',
                                type: "POST",
                                data: { event_id: eventId, file_id: data_.id },
                                success: (response, textStatus, jqXHR) => {
                                    if (jqXHR.status === 200) {
                                        if (response.status === 1) {
                                            $('.pictures-preview-wrap').append($_tplPreview);
                                        } else {
                                            alert('Произошла ошибка... Пожалуйста, попробуйте позже!!!')
                                        }
                                    } else {
                                        alert('Произошла ошибка... Пожалуйста, попробуйте позже!!!')
                                    }
                                }
                            });
                        } else {
                            alert('Произошла ошибка... Пожалуйста, попробуйте позже!!!')
                        }
                    }

                    // todo проверить, добавить превью и отправить ajax для связи картинки и сущности
                });
                this.on("queuecomplete", function (file) {
                    this.removeAllFiles();
                });
            }
        });

        $(document).on('click', '.js-delete-photo--event', function () {
            const _this = this;
            const eventId = +$('#event_id').data('id');
            const fileId = $(_this).data('id');

            if (eventId && fileId) {
                $.ajax({
                    url: '/events/ajax/unbind/eventfile',
                    type: "POST",
                    data: { event_id: eventId, file_id: fileId },
                    success: (response, textStatus, jqXHR) => {
                        if (jqXHR.status === 200) {
                            if (response.status === 1) {
                                $(_this).parents('.photo-container--event').remove()
                            } else {
                                alert('Произошла ошибка... Пожалуйста, попробуйте позже!!!')
                            }
                        } else {
                            alert('Произошла ошибка... Пожалуйста, попробуйте позже!!!')
                        }
                    }
                });
            }
        });

        $('#generate-link--event').on('click', function () {

            const _this = this;
            const eventId = +$('#event_id').data('id');

            if (eventId) {
                $.ajax({
                    url: '/events/ajax/generate/token',
                    type: "POST",
                    data: { event_id: eventId },
                    success: (response, textStatus, jqXHR) => {
                        if (jqXHR.status === 200) {
                            if (response.status === 1) {
                                location.reload()
                            } else {
                                alert('Произошла ошибка... Пожалуйста, попробуйте позже!!!')
                            }
                        } else {
                            alert('Произошла ошибка... Пожалуйста, попробуйте позже!!!')
                        }
                    }
                });
            }
        });

        new ClipboardJS('.js-copy-link-event--album');

        $( "#date_at" ).datepicker({
            dateFormat: 'dd.mm.yy'
        });
    })
</script>

{% endblock %}
