{% extends 'base.html' %}

{% block content %}
<div class="container py-3">

    <h3>{{ title }}</h3>

    <div class="row py-5">
        <div class="col-8">
            <form class="row" action="{{ url_for('events.edit', id=event.id) }}" method="post">

                <div class="col-12 form-group">
                    <label>Название:</label>
                    <input required type="text" name="title" class="form-control custom-input-form" value="{{ event.title }}" placeholder="Название">
                </div>

                <div class="col-12 form-group">
                    <label>Дата мероприятия:</label>
                    <input required type="date" name="date_at" class="form-control custom-input-form" value="{{ event.date_at }}" placeholder="Дата события">
                </div>

                <div class="col-12 form-group">
                    <label>Место проведения:</label>
                    <input required type="text" name="place" class="form-control custom-input-form" value="{{ event.place }}"
                        placeholder="Место проведения">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-color-fotty btn-radius-fotty col-6">Сохранить</button>
                    <a href="{{ url_for('events.index') }}" class="btn btn-secondary btn-radius-fotty-a col-2">Назад</a>
                </div>

            </form>
        </div>

    </div>

</div>
{% endblock %}
