{% extends 'base.html' %}

{% block content %}
<div class="container py-5">

    <div class="row">
        <div class="col-8">
            <h3>{{ user.name|capitalize }}</h3>
            <span>Photographer</span>
        </div>
        <div class="col-3 py-2">
            <a class="btn btn-primary btn-color-fotty btn-radius-fotty-a" role="button" href="{{ url_for('profile.edit',  id=user.id) }}">Редактировать профиль</a>
        </div>

    </div>

    <div class="row">

        <div class="col-8">

            <div class="row py-5">

                <div class="col-12">

                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th class="" colspan="2">Данные пользователя</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#</td>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <td>Имя:</td>
                                <td>{{ user.name | capitalize }}</td>
                            </tr>
                            <tr>
                                <td>Телефон:</td>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td>Пароль:</td>
                                <td>Да</td>
                            </tr>
                            <tr>
                                <td>Дата создания:</td>
                                <td>{{ user.created_at| formatdatetime }}</td>
                            </tr>
                            <tr>
                                <td>Дата обновления:</td>
                                <td>{{ user.updated_at| formatdatetime }}</td>
                            </tr>
                            <tr>
                                <td>Подтвержден:</td>
                                <td>{{ user.confirmed }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div class="col-3 py-5">

            <div class="fancy-title topmargin title-border">
                <h4>Обо мне</h4>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum laboriosam, dignissimos veniam obcaecati.
                Quasi eaque, odio assumenda porro explicabo laborum!</p>

            <div class="fancy-title topmargin title-border">
                <h4>Социальные сети</h4>
            </div>

            <a href="#" style="font-size: 3em;" title="Vk">
                <span style="color: #ccc">
                    <i class="fab fa-vk"></i>
                </span>
            </a>

            <a href="#" style="font-size: 3em;" title="Facebook">
                <span style="color: #ccc;">
                    <i class="fab fa-facebook"></i>
                </span>
            </a>
        </div>

    </div>


</div>
{% endblock %}
