{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <h3>Редактирование профиля</h3>
    <hr>

    <div class="row py-3">
        <div class="col-8">
            <form class="row" action="{{ url_for('profile.edit', id=user.id) }}" method="post">

                <div class="form-process"></div>
                <div class="col-12 form-group">
                    <label>Имя</label>
                    <input required type="text" name="name" class="form-control custom-input-form" value="{{ user.name | capitalize }}"
                        placeholder=" Имя">
                </div>
                <div class="col-12 form-group">
                    <label>Email</label>
                    <input disabled required type="email" name="email" class="form-control custom-input-form" value="{{ user.email }}"
                        placeholder="Email">
                </div>

                <div class="col-12 form-group">
                    <label>Телефон</label>
                    <input required type="text" name="phone" class="form-control custom-input-form" value="{{ user.phone }}"
                        placeholder="Телефон">
                </div>

                <div class="col-12 form-group">
                    <label>Пароль</label>
                    <input type="password" name="password" class="form-control custom-input-form" value="" placeholder="Пароль" />
                </div>

                <div class="col-12 form-group">
                    <label>Повторить пароль</label>
                    <input type="password" name="repassword" class="form-control custom-input-form" value=""
                        placeholder="Введите пароль еще раз" />
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-color-fotty btn-radius-fotty col-6">Изменить</button>
                    <a href="{{ url_for('profile.index') }}" class="btn btn-secondary btn-radius-fotty-a col-3">Назад</a>
                </div>

            </form>
        </div>

    </div>

</div>

{% endblock %}
