{% extends 'base.html' %}

{% block content %}

{% block menu %} {% endblock %}
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">

                <div class="tab-container">

                    <div class="card nobottommargin">
                        <div class="card-body" style="padding: 40px;">
                            <h3>Register for an Account</h3>

                            <form id="register-form" name="register-form" class="nobottommargin"
                                action="{{ url_for('auth_.registration') }}" method="post">

                                <div class="col_full">
                                    <label for="register-form-name">Name:</label>
                                    <input type="text" id="register-form-name" name="name" value=""
                                        class="form-control" />
                                </div>

                                <div class="col_full">
                                    <label for="register-form-email">Email Address:</label>
                                    <input type="text" id="register-form-email" name="email" value=""
                                        class="form-control" />
                                </div>

                                <div class="col_full">
                                    <label for="register-form-phone">Phone:</label>
                                    <input type="text" id="register-form-phone" name="phone" value=""
                                        class="form-control" />
                                </div>

                                <div class="col_full">
                                    <label for="register-form-password">Choose Password:</label>
                                    <input type="password" id="register-form-password" name="password" value=""
                                        class="form-control" />
                                </div>

                                <div class="col_full">
                                    <label for="register-form-repassword">Re-enter Password:</label>
                                    <input type="password" id="register-form-repassword" name="repassword" value=""
                                        class="form-control" />
                                </div>

                                <div class="col_full nobottommargin">
                                    <button type="submit" class="button button-3d button-black nomargin" value="login">Register now</button>
                                    <a href="{{ url_for('auth_.login') }}" class="fright">Sing in?</a>
                                </div>

                            </form>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>

</section><!-- #content end -->
{% endblock %}

{% block footer %} {% endblock %}
