{% extends 'base.html' %}

{% block navbar %} {% endblock %}

{% block content %}
<div class="container-fluid py-3">
    <div class="row ">
        <div class="col-2 custom-brand-logo-login">
            Fotty
        </div>
    </div>
    <div class="row py-5 justify-content-center">
        <div class="col-4">
            <div class="custom-title">
                Регистрация
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <form action="{{ url_for('auth_.registration') }}" method="post">
                <div class="form-group">
                    {{ form.name(placeholder="Введите имя") }}
                </div>
                <div class="form-group">
                        {{ form.email(placeholder="Введите электронный адрес") }}
                </div>
                <div class="form-group">
                        {{ form.phone(placeholder="Введите телефон") }}
                </div>
                <div class="form-group">
                        {{ form.password(placeholder="Введите пароль") }}
                </div>
                <div class="form-group">
                        {{ form.repassword(placeholder="Введите повторно пароль") }}
                </div>
                {{ form.submit() }}
                &nbsp;&nbsp;
                <a class="link-login-fotty-forgot" href="{{ url_for('auth_.login') }}">Вход?</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %} {% endblock %}
